body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 80%; /* Adjust as needed */
  height: 80vh; /* Adjust as needed */
  border: 1px solid #ccc;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}

/* add styles for leaflet legend */
.legend {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend i {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: inline-block;
}